@import "variables";

.btn {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: $font-size-sm *.875;
  letter-spacing: 0.1em;
  border-radius: $border-radius-sm;
  padding: $spacer * .375 $spacer * .875;
  margin: $spacer * .125;
  border: none;
  transition: all 0.2s ease;
}

.btn:hover {
  margin: 0;
  padding: $spacer* .5 $spacer;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .btn {
    padding: $spacer * .5 $spacer;
    margin: $spacer * .25;
  }

  .btn:hover {
    margin: 0;
    padding: $spacer* .75 $spacer * 1.25;
  }
}

.btn-primary {
  background-color: $pink-500;
  color: $light;
}

.btn-primary:hover {
  background-color: $pink-600;
  color: $light;
}

.btn-secondary {
  background-color: $pink-50;
  color: $pink-500;
}

.btn-secondary:hover {
  background-color: $pink-100;
  color: $pink-500;
}

.btn-tertiary, .link, .btn-tertiary:active, .link:active, .btn-tertiary:focus, .link:focus, .btn-tertiary:active {
  color: $pink-500;
  text-decoration: underline;
  text-underline-offset: $spacer * .25;
  text-underline-style: double;
  text-decoration-thickness: $spacer * .25;
}

.btn-tertiary:hover, .link:hover {
  color: $pink-600;
  text-underline-offset: $spacer * .5;
}

$link-transition: color .15s ease-in-out,
background-color .15s ease-in-out,
border-color .15s ease-in-out,
box-shadow .15s ease-in-out,
text-underline-offset .15s ease-in-out;

.link {
  font-family: $font-family-sans-serif;
  font-size: $font-size-sm;
  transition: $link-transition;
}
